{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('aboutUs') }}
{% endblock %}
{% block title %}
	A Propos


{% endblock %}


{% block body %}

	<div class="content flex column"></div>


{% endblock %}


{% block javascripts %}
	{{ parent() }}

{% endblock %}
