<footer class="flex">
	<div class="footer-left flex column">
		<a>Contact/Aide</a>
		<a>Mon Compte
		</a>
		<a>Suivi de commande</a>
		<a>Qui sommes-nous ?</a>
		<a>Nos marques</a>
		<a>Mentions legales
		</a>
		<a>Protection des données
		</a>
		<a>Paramétrer mes cookies</a>
		<a>Conditions générales d'utilisation
		</a>
		<a>Infos consommateurs
		</a>
		<p>©2021 Azar</p>

	</div>
	<div class="footer-center flex column ">
		<h1>Ou nous trouver ?
		</h1>
		<div id="map">la map</div>
	</div>
	<div class="footer-right flex column ">
		<h1>Vous etes pros ?
		</h1>
		<button class="pro">
			<a href="#">Inscrivez vous
			</a>
		</button>


		<h1>Contact</h1>
		<p>Télephone : 33 821 41 78 - 33 888 11 22</p>
		<p>Lundi - Vendredi : 8H30 - 12H45 | 14H45 - 18H00
						        Samedi : 8H45 | 12H45
		</p>

	</div>


</footer>
