<div class="headerlog flex">
	<a class="flex" href="{{path('home')}}" >
		<i class="fas fa-arrow-left"></i>
		Retour
	</a>
	<h1 style="color: {{colors.allColors.primary}}"> {{design.headerTitle}}</h1>


</div>
