
<div class="elements" data-sortable=".element">
	{% for product in bande.bandeProduct.products %}
		<div class="element" data-position={{loop.index -1}} data-id={{product.id}}>
			<div class="cross" onclick="removeElement(this)">
				<i class="fas fa-times"></i>
			</div>
			<img width="80%" height="80%" src="{{ vich_uploader_asset(product.pictures[0],'imageFile') }}" alt="">
			<p>{{product.name}}</p>
		</div>
	{% endfor %}


</div>
<p class= "errorElement"></p>

<div class="addnew">
	<button onclick="newproduit(this)">Rajoutez une nouveau produit</button>
</div>
