{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('graphHome')}}
{% endblock %}

{% block cdn %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% endblock %}


{% block body %}
<h1>Admin</h1>

{% endblock %}


