{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Basses  categories</h1>
		<a href="{{path('admin_product_new')}}" class="new">Créer un nouveau produit
		</a>
		{{ include('admin/admin_product/productsList.html.twig') }}


	</div>
{% endblock %}
