.passwordRequest {
  padding-left: 12%;
  padding-right: 12%;
}
.passwordRequest > form > .form-row {
  width: 25%;
}
.passwordRequest > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}
.passwordRequest > form > button {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 5vh;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  border: none;
}

.passwordRequest > form > button:hover {
  transform: scale(1.02);
}

.passwordRequest > h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
