{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Commandes</h1>
		{{ include('admin/admin_command/commandList.html.twig') }}
	</div>

{% endblock %}
