{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Les envie de
			{{user.email}}</h1>
		{{ include('admin/admin_product/productsList.html.twig') }}

	</div>
{% endblock %}
